<html>
<title>WELCOME TO DA BEST BESBWSITE</title>
<frameset rows="5%,*">
<frame src=new1.html>
<frameset cols="25%,*">
<frame src=new2.html>
<frameset cols="50%,*">
<frame src=new3.html>
<frameset cols="100%,*">
<frame src=new4.html>
